<h1>About</h1>
<p>Online shopping is a form of electronic commerce whereby consumers directly buy goods or services from a seller over the Internet without an intermediary service. An online shop, eshop, e-store, Internet shop, webshop, webstore, online store, or virtual store evokes the physical analogy of buying products or services at a bricks-and-mortar retailer or shopping centre. The process is called business-to-consumer (B2C) online shopping. When a business buys from another business it is called business-to-business (B2B) online shopping.</p>
<h1>History</h1>

<p>In 1990 Tim Berners-Lee created the first World Wide Web server and browser.[1] It opened for commercial use in 1991 . In 1994 other advances took place, such as online banking and the opening of an online pizza shop by Pizza Hut.[1] During that same year, Netscape introduced SSL encryption of data transferred online, which has become essential for secure online shopping. Also in 1994 the German company Intershop introduced its first online shopping system. In 1995 Amazon launched its online shopping site, and in 1996 eBay appeared.[1]
</p><h1>Customers</h1>

<p>Online customers must have access to a computer and a method of payment.

In general, higher levels of education, income, and occupation of the head of the household correspond to more favorable perceptions of non-store shopping. Also, increased exposure to technology increases the probability of developing favorable attitudes towards new shopping channels.[2]

In a December 2011 study Equation Research found that 87% of tablet users made an online transaction with their tablet device during the early holiday shopping season.[3]
</p><h1>Logistics</h1>

<p>Consumers find a product of interest by visiting the website of the retailer directly or by searching among alternative vendors using a shopping search engine.

Once a particular product has been found on the web site of the seller, most online retailers use shopping cart software to allow the consumer to accumulate multiple items and to adjust quantities, like filling a physical shopping cart or basket in a conventional store. A "checkout" process follows (continuing the physical-store analogy) in which payment and delivery information is collected, if necessary. Some stores allow consumers to sign up for a permanent online account so that some or all of this information only needs to be entered once. The consumer often receives an e-mail confirmation once the transaction is complete. Less sophisticated stores may rely on consumers to phone or e-mail their orders (though credit card numbers are not accepted by e-mail, for security reasons).</p>